[Unit]
Description=NfcOscClient

[Service]
User=root
ExecStart=/home/nfc/nfc-osc-client/run_osc_nfc_client.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
